main {
  min-height: 80vh;
}

header {
  background: linear-gradient(to bottom right, #ffc4f4, #e085bb);
}

.brand.navbar-brand {
  position: relative;
  left: 50%;
  margin-left: -100px;
  margin-right: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0rem;
}
